body {
  font-family: 'Ubuntu', sans-serif;
}

.navbar span {
  font-family: 'Pacifico', cursive;
  font-size: 40px;
}

 #header {
  background-image: url('../img/header.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding-bottom: 10rem;
  /* opacity: 0.9; */
}

#header h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 100px;
  color: #ffffff;
}

#header span {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 100px;
  color: #ffffff;
}

.fondo-color {
  /* background-color: #660066; */
  background: linear-gradient(360deg,#949494 10%,#efefef 360%);
  /* #201240
  #949494 */
}

.utrabajos h2{
  color: #black;
  font-weight: bold;

}


footer {
  color: #ffffff;
}

footer a {
  color: #ffffff;
}

footer h2 {
  font-weight: bold;
}

footer span {
  font-family: 'Nothing You Could Do', cursive;
  /* font-family: 'Pacifico', cursive; */
  font-size: 40px;
}

.experiencia {
  color: #000000;
}

.experiencia h1 {
  font-weight: bold;
}

.contacto h2 {
  font-weight: bold;
}

#sobre-mi {
  background-image: url(https://images.pexels.com/photos/34580/pexels-photo.jpg);
  min-height: 400px;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* opacity: 0.5; */
  background-attachment: fixed;
}

 .text {
  color: #000000;
  background-color:rgba(255,255,255,0.6)
}

img {
  opacity: 0.7;
  filter: alpha(opacity=70); /* For IE8 and earlier */
}

img:hover {
  opacity: 1.0;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}
